body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

h5 {
    margin-bottom: 20px;
    color:#3e8e41;
    font-size: small;
}

.players {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.player {
    
    padding: 10px;
    width: 150px;
}

.dice {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    background-size: cover;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

button:focus {
    outline: none;
}

button[disabled] {
    background-color: #ddd;
    cursor: not-allowed;
}
.dice-image{
    width: auto;
    margin-top: 3px;
    margin-bottom: 60px;
}


